table, tr, th, td {
border: 1px solid black;
tr:nth-child(even) {
background-color: red;
}
animation-name: animation;
animation-duration: 4s;
animation-iteration-count: infinite;
}
@keyframes animation {
from {background-color: red;}
to {background-color: yellow;}
}

@keyframes formanimation {
  from {background-color: white;}
  to {background-color: gray;}
}
        
  .form {
  animation-name: formanimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


h2 {
  animation-name: grow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.04);
  }
}